<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="static/style.css" />
	<title>Video Stream</title>
	<script src="https://cdn.jsdelivr.net/npm/mpegts.js@latest/dist/mpegts.js"></script>
</head>

<body class="bg-stone-600 text-stone-200">
	<div class="p-8">
		<h1 class="text-2xl font-bold my-4">Hi, I'm a heading</h1>
		<div class="rounded-2xl overflow-hidden w-full h-full">
			<video id="videoElement" controls autoplay></video>
			<script src="static/player.js"></script>
		</div>
	</div>
	<div>
		<h2>List of channels</h2>
			<ul>
				<li>
					<h3>Channel N</h3>
					<p>Status</p>
					<p>If it's playing, show a player</p>
					<p>Skip button</p>
				</li>
			</ul>
		</div>
</body>

</html>
